Automated_Content_Creation.json
{
  "name": "Automated Content Creation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert-level SEO content strategist and copywriter with years of experience writing high-performing blog posts. You write blogs in jargon-free, simple English.\n\nYour task is to:\n\n1. Improve the provided topic title by generating a better, SEO-optimized blog post title that is more attractive and ranks well on search engines.\n\n2. Write a complete blog post based on the improved title. The post must:\n- Be between 800–1200 words\n- Use clear, conversational, and simple English\n- Be SEO-friendly with natural keyword integration\n- Start with a hooking introduction that introduces the topic smoothly\n- Use headings and subheadings (H1 for the title, H2 for main sections, H3 for supporting points)\n- Use bullet points or numbered lists where helpful\n- One paragraph should be a maximum of 4-5 lines long\n- Have a strong conclusion that summarizes the key points and includes a call-to-action or final insight\n- Ensure smooth flow and concise, informative paragraphs\n\n3. Output the result as a JSON object with this format:\n\n```json\n{\n  \"title\": \"Improved SEO-Optimized Title\",\n  \"content\": \"Full blog post content in markdown format\"\n}\n```\n\nHere is the topic you should improve and write about:\n{{ $json.Topic }}\n\nGenerate the improved title and the full blog post now.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "73d65915-e90f-4f03-acd5-d65505d02a2f",
      "name": "Copywriter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1436,
        105
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "8db55e14-f4b2-4ca0-b10e-a3a0d375b82d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        708,
        325
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "CXiyfOATJzyNqhIm",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert-level copywriter with strong SEO knowledge and a clear, engaging writing style. Your task is to revise an existing blog post based on the given topic and user feedback.\n\nHere are your responsibilities:\n- Carefully apply all of the user's feedback to improve the blog post.\n- Preserve the good parts of the original content, but rewrite or adjust areas based on the feedback.\n- Keep the tone friendly, professional, and easy to read.\n- Organize the blog post with clear headings and subheadings.\n- Use bullet points or numbered lists when it makes the content clearer.\n- Ensure a strong hook in the introduction and a solid conclusion with a call-to-action or takeaway.\n- Aim for a length between 800–1200 words unless the feedback suggests otherwise.\n\nHere is the topic title:\n{{ $('Get Topic from Google Sheets').item.json.Topic }}\n\nHere is the user's feedback:\n{{ $('Send Content for Approval').item.json.data['Content Feedback'] }}\n\nHere is the original content:\n{{ $('Copywriter AI Agent').item.json.output }}\n\nNow, rewrite the blog post using this input, fully incorporating the feedback.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "57985fcc-2be7-4c39-b342-ada88576712d",
      "name": "Copywriter Revision Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2472,
        205
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4dbce1a-8b34-46b7-a740-b49339233e68",
              "name": "Topic Title",
              "type": "string",
              "value": "={{ $json.output.title }}"
            },
            {
              "id": "4924b496-db60-4618-bab7-a9d5e689c8eb",
              "name": "Content",
              "type": "string",
              "value": "={{ $json.output.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16da1e46-0ccc-485b-94ef-b6742c78cfe7",
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1812,
        105
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Improved SEO-Optimized Title\",\n  \"content\": \"Full blog post content in markdown format\"\n}"
      },
      "id": "c03ca6ef-ffa9-4226-b753-a7b065820985",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1524,
        325
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g",
          "mode": "list",
          "cachedResultName": "Content Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topic List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get Topic from Google Sheets').item.json.Topic }}",
            "Status": "Complete",
            "Output": "=Title: {{ $('Copywriter AI Agent').item.json.output.title }}\n\nBody: {{ $('Copywriter AI Agent').item.json.output.content }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "89c0055e-4678-40bf-b291-62fb269d9250",
      "name": "Update Topic Status on Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2550,
        -20
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Msq0IIPpjYvQWpu2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g",
          "mode": "list",
          "cachedResultName": "Content Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topic List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "2b7802e1-3ebf-4083-b2eb-76c519629371",
      "name": "Get Topic from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1216,
        105
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Msq0IIPpjYvQWpu2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "anindyasharma.dem2024@iimu.ac.in",
        "subject": "Approval Required for Blog Content",
        "message": "=Generated Title:\n{{ $json['Topic Title'] }}\n\nGenerated Content:\n{{ $json.Content }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approve Content?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  },
                  {
                    "option": "Cancel"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Content Feedback",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "4496b333-3e63-4aaa-962a-cb6c3db04508",
      "name": "Send Content for Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2032,
        30
      ],
      "webhookId": "a23938a4-fc6c-4445-8dee-17e501e92e06",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qNZNeyLFMDXblhBh",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "317039f4-754e-4cb0-a674-eb8d26c9ed27",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Approve Content?'] }}",
                    "rightValue": "Yes"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "caace3ea-4ca0-40de-84fb-5a8fd809a0eb",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Approve Content?'] }}",
                    "rightValue": "No"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f93e5649-6a21-49a9-9993-85f1323139b0",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data['Approve Content?'] }}",
                    "rightValue": "Cancel"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "id": "83c5c065-6c7d-41c1-bae8-ce3b65f82b5b",
      "name": "Approval Result",
      "type": "n8n-nodes-base.switch",
      "position": [
        2252,
        30
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        105
      ],
      "id": "4156db42-48df-4995-b021-2ce2115bd87c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please give me a topic",
        "options": {
          "systemMessage": "=You are a highly experienced blog strategist and expert writer specializing in Business, AI, Technology, and Emerging Trends. Your task is to create a hot, timely, and high-potential blog topic for the next article. The topic should:\n\nBe relevant to current trends in business, AI, and tech.\n\nBe catchy and clickable, suitable for titles.\n\nReflect themes that are being widely discussed or searched online.\n\nBe broad enough for a blog post, but specific enough to attract interest.\n\nInclude a short 1-line description of what the post will cover.\n\nOutput format:\n\nTopic Title – One-line idea summary\n\nMake sure your suggestions are fresh, practical, and aligned with what tech-savvy professionals or business learners would want to read this week."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        620,
        105
      ],
      "id": "f5863e67-5037-4127-a90d-0e254f8cffba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g",
          "mode": "list",
          "cachedResultName": "Content Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topic List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic Status": "Complete",
            "Topic": "={{ $json.output }}",
            "row_number": "={{ $('Get Rows to Update').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Sl No.",
              "displayName": "Sl No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Status",
              "displayName": "Topic Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4afee33a-c2ff-48ea-bae5-cc7b21fd66c1",
      "name": "Update Topic",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        996,
        105
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Msq0IIPpjYvQWpu2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g",
          "mode": "list",
          "cachedResultName": "Content Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topic List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12fay8aRCvUvRrG1SjcJ9oRe514upMeBnTzbyLQHB-4g/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Topic Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "a07640ed-4420-463e-8cac-748b090070da",
      "name": "Get Rows to Update",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        400,
        105
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Msq0IIPpjYvQWpu2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1n0XUk5Nf4XnGl7Lcbtt533cP8hoNHwqB",
        "title": "={{ $json.Topic }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2848,
        -20
      ],
      "id": "e6a2e5d3-4d56-4569-9a42-230f1050c88c",
      "name": "Create Google Doc to store article",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Jq7PYrjJskPbCtkk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Update Topic Status on Google Sheets').item.json.Output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3068,
        -20
      ],
      "id": "133c55f4-6149-4a65-a4f9-43816ca8648b",
      "name": "Store article",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Jq7PYrjJskPbCtkk",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set Data": {
      "main": [
        [
          {
            "node": "Send Content for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Result": {
      "main": [
        [
          {
            "node": "Update Topic Status on Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Copywriter Revision Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Topic Status on Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Copywriter Revision Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter AI Agent": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Copywriter AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Copywriter Revision Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter Revision Agent": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Content for Approval": {
      "main": [
        [
          {
            "node": "Approval Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Topic from Google Sheets": {
      "main": [
        [
          {
            "node": "Copywriter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Topic Status on Google Sheets": {
      "main": [
        [
          {
            "node": "Create Google Doc to store article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Rows to Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows to Update": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Topic": {
      "main": [
        [
          {
            "node": "Get Topic from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc to store article": {
      "main": [
        [
          {
            "node": "Store article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "54777b2e-d058-4766-af1c-40b4c64b90fc",
  "meta": {
    "templateId": "4371",
    "templateCredsSetupCompleted": true,
    "instanceId": "a22401217154d9b70a3921e023c53d085c686943536c8c85f80c2dcdc1dc577b"
  },
  "id": "ktgFnIqYaCTH1hnm",
  "tags": []
}